<div class="header">
	<div class="header-content">
		<h3>Image carousel</h3>		
		<p>2014 Juhana Paavola - juhana.paavola@gmail.com</p>
	</div>
</div>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-2">
		</div>
		<div class="col-md-8">			
			<div class="slider-container">
				<div class="flexslider carousel">
					<ul class="slides">
						<li>
							<img src="app/img/photos/salzburg.jpg" alt="View to church"/>
						</li>
						<li>
							<img src="app/img/photos/kaprun.jpg" alt="Mountain tops"/>
						</li>
						<li>
							<img src="app/img/photos/salzburg2.jpg" alt="Cherry tree"/>
						</li>
						<li>
							<img src="app/img/photos/salzburg3.jpg" alt="Misty city view"/>
						</li>
					</ul>
					<div id="badge-view">
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Built with</h3>
				</div>
				<div class="panel-body">
					<a href="https://github.com/backbone-boilerplate/backbone-boilerplate">Backbone boilerplate</a>
					</br>
					<a href="http://getbootstrap.com">Bootstrap</a>
					</br>
					<a href="http://flexslider.woothemes.com">Flexslider</a>
				</div>
			</div>
		</div>
		<div class="col-md-2">
		</div>		
	</div>
</div>